
     .chessboard {
      border-spacing: 0;
      border-collapse: collapse;
    }
    .chessboard th {
      padding: .5em;
    }
    .chessboard td {
      border: 1px solid;
      width: 50px;
      height: 50px;
    }
    .chessboard .light {
      background: #EEB;
    }
    .chessboard .dark {
      background: #0C0;
      foreground: #F00;
    }
    .chessboard .pointed {
      background: #F00
    }